[submodule "TCC"]
	path = TCC
	url = https://git.overleaf.com/5db1cbc60a3a250001cf8124
[submodule "Presentation"]
	path = Presentation
	url = https://git.overleaf.com/60e387170b11689d8cd3acdb
[submodule "implot"]
	path = implot
	url = git@github.com:epezent/implot.git
